Backend/GencellTracking/src/wsdl/68.183.58.203/servicioAutenticacion/authenticationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://authenticationService.gencell/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://authenticationService.gencell/" name="authenticationService">
<types>
<xsd:schema>
<xsd:import namespace="http://authenticationService.gencell/" schemaLocation="http://68.183.58.203:80/servicioAutenticacion/authenticationService?xsd=1"/>
</xsd:schema>
</types>
<message name="authenticationGencellPharma">
<part name="parameters" element="tns:authenticationGencellPharma"/>
</message>
<message name="authenticationGencellPharmaResponse">
<part name="parameters" element="tns:authenticationGencellPharmaResponse"/>
</message>
<message name="changePassGencellPharma">
<part name="parameters" element="tns:changePassGencellPharma"/>
</message>
<message name="changePassGencellPharmaResponse">
<part name="parameters" element="tns:changePassGencellPharmaResponse"/>
</message>
<message name="authenticationTest">
<part name="parameters" element="tns:authenticationTest"/>
</message>
<message name="authenticationTestResponse">
<part name="parameters" element="tns:authenticationTestResponse"/>
</message>
<message name="authenticationTestByAppUsuario">
<part name="parameters" element="tns:authenticationTestByAppUsuario"/>
</message>
<message name="authenticationTestByAppUsuarioResponse">
<part name="parameters" element="tns:authenticationTestByAppUsuarioResponse"/>
</message>
<message name="authenticationTestByAppToken">
<part name="parameters" element="tns:authenticationTestByAppToken"/>
</message>
<message name="authenticationTestByAppTokenResponse">
<part name="parameters" element="tns:authenticationTestByAppTokenResponse"/>
</message>
<message name="generarTokenByUsuario">
<part name="parameters" element="tns:generarTokenByUsuario"/>
</message>
<message name="generarTokenByUsuarioResponse">
<part name="parameters" element="tns:generarTokenByUsuarioResponse"/>
</message>
<portType name="authenticationService">
<operation name="authenticationGencellPharma">
<input wsam:Action="http://authenticationService.gencell/authenticationService/authenticationGencellPharmaRequest" message="tns:authenticationGencellPharma"/>
<output wsam:Action="http://authenticationService.gencell/authenticationService/authenticationGencellPharmaResponse" message="tns:authenticationGencellPharmaResponse"/>
</operation>
<operation name="changePassGencellPharma">
<input wsam:Action="http://authenticationService.gencell/authenticationService/changePassGencellPharmaRequest" message="tns:changePassGencellPharma"/>
<output wsam:Action="http://authenticationService.gencell/authenticationService/changePassGencellPharmaResponse" message="tns:changePassGencellPharmaResponse"/>
</operation>
<operation name="authenticationTest">
<input wsam:Action="http://authenticationService.gencell/authenticationService/authenticationTestRequest" message="tns:authenticationTest"/>
<output wsam:Action="http://authenticationService.gencell/authenticationService/authenticationTestResponse" message="tns:authenticationTestResponse"/>
</operation>
<operation name="authenticationTestByAppUsuario">
<input wsam:Action="http://authenticationService.gencell/authenticationService/authenticationTestByAppUsuarioRequest" message="tns:authenticationTestByAppUsuario"/>
<output wsam:Action="http://authenticationService.gencell/authenticationService/authenticationTestByAppUsuarioResponse" message="tns:authenticationTestByAppUsuarioResponse"/>
</operation>
<operation name="authenticationTestByAppToken">
<input wsam:Action="http://authenticationService.gencell/authenticationService/authenticationTestByAppTokenRequest" message="tns:authenticationTestByAppToken"/>
<output wsam:Action="http://authenticationService.gencell/authenticationService/authenticationTestByAppTokenResponse" message="tns:authenticationTestByAppTokenResponse"/>
</operation>
<operation name="generarTokenByUsuario">
<input wsam:Action="http://authenticationService.gencell/authenticationService/generarTokenByUsuarioRequest" message="tns:generarTokenByUsuario"/>
<output wsam:Action="http://authenticationService.gencell/authenticationService/generarTokenByUsuarioResponse" message="tns:generarTokenByUsuarioResponse"/>
</operation>
</portType>
<binding name="authenticationServicePortBinding" type="tns:authenticationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="authenticationGencellPharma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePassGencellPharma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authenticationTest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authenticationTestByAppUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authenticationTestByAppToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarTokenByUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="authenticationService">
<port name="authenticationServicePort" binding="tns:authenticationServicePortBinding">
<soap:address location="http://68.183.58.203:80/servicioAutenticacion/authenticationService"/>
</port>
</service>
</definitions>